@import "../../../styles.scss";
@include variables;

.navigation {
  width: 100%;
  padding-bottom: 30px;
}

nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      background-color: var(--main-color);
      height: 50px;
      a {
        display: inline-block;
        width: -webkit-fill-available;
        background-color: var(--third);
        padding: 15px;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        color: #f2f2f2;
        text-decoration: none;
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

ul li {
  flex: 1;
}
