<div class="login-container">
    <form>
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Add Cabin</mat-card-title>
                        <mat-icon>home</mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-form-field appearance="outline">
                                    <mat-label>Cabin name</mat-label>
                                    <input matInput placeholder="Placeholder">
                                </mat-form-field>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                </mat-form-field>
                            </mat-list-item>
                            <mat-list-item style="height: 240px">
                                <ngp-image-picker [_config]="imagePickerConf"></ngp-image-picker>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>