@import "../../../../styles.scss";
@include variables;

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--third);
    font-size: 3rem;
    color: white;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        margin-top: 20px;
    }
}

.image {
    white-space: nowrap;
    height: 300px;
    aspect-ratio: 16 / 9;
}

.card-description {
    margin: 10%;
    text-align: justify;
    max-height: 130px;
    font-size: 1.5vw;
}

.card-img {
    object-fit: cover;
    width: 320px;
    height: 180px;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}
