@mixin variables {
    :host {
        --first: #e7717d;
        --second: #c2cad0;
        --third: #c2b9b0;
        --fourth: #7e685a;
        --fifth: #afd275;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
