<div class="responsive-grid">
    <ng-container *ngFor="let cabin of cabins$ | async">
        <cabin-card [name]="cabin.name" [imageUrl]="cabin.imageUrl" [description]="cabin.description"></cabin-card>
    </ng-container>
</div>