.responsive-grid {
    display: grid;
    gap: 20px;
    /*grid-template-columns: repeat(1fr, 5);*/

    /* dont let the columns go below 240px, but let their go up to max 1fr */
    /*grid-template-columns: repeat(5, minmax(240px, 1fr));*/

    /* Implicit grid, auto-fit: calculate columns on the fly n cols y rows */
    /* auto-fit */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
